@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*fontes*/
*{
    font-family: Poppins;
}

body{
    margin: 0;
    background-color: #F7F5F9;
    padding: 0;
    overflow-x: hidden;
}
main{
    display: flex;
    flex-direction: column;
    margin: 0
}
header{
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content: space-between;
}
nav{
    display: flex;
    text-decoration: none;
    gap: 30px;
}
nav a {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}
/*TITLE*/
/*BANNER*/
.banner img{
    width: 100%;
}
/*SECTION 1*/
.qmsm{
    margin: 0;
    padding: 2%;
    display: flex;
    align-items: center;
}
.qmsm img{
    width: 50%;
}
h2{
    font-size: 20px;
}
.qmsm-container p{
    font-size: 30px;
}
.qmsm-container p strong{
    color: #EDB96A;
}
/*SECTION 3*/
/*SECTION 1*/
.projeto{
    display: flex;

    padding: 2%;
    align-items: center;
}
.projeto img{
    width: 50%;
}
h2{
    font-size: 20px;
}
.projeto-container p{
    font-size: 30px;
}
.projeto-container img{
    width: 300px;
}
.projeto-container p strong{
    color: #0097B2;
}
.saiba{
    padding: 3%;
    border: none;
    background-color: #0097B2;
    border-radius: 14px;
}
.saiba a {
    font-size: 15.5px;
    color: #FFF;
    text-decoration: none;
}
.projeto span{
    color: #0097B2;
}
.mvv span{
    color: #6B9859;
}
.qmsm span{
    color: #EDB96A;
}
/*MVV*/

.mvv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blocos{
    padding: 4%;
    font-size: 18px;
    color: #FFF;
    margin-top: 0;

}
.valores, .missao, .visao{
    padding: 3%;
    margin-bottom: 2%;
    border-radius: 24px;
}
.valores{
    background-color: #A0C692;
}
.missao{
    background-color: #A2D0EA;
}
.visao{
    background-color: #EBB28F;
}
.blocos-row2{
    display: flex;
    gap: 2%;
}
.transform{
    display: flex;
    flex-direction: column;
}
.instablock{
    padding: 2% 5%;
    display: flex;
    align-self: center;
    color: #FFF;
    gap: 20px;
    justify-content: center;
    width: fit-content;
    margin-bottom: 2%;
    z-index: -2;
    border-radius: 24px;
    text-align: center;
    background-color: #A0C692;
}
.instablock img{
    width: 30px;
}
.title-mvv{
    display: flex;
    flex-direction: column;
    padding: 3%;
    align-items: center;
}
.title-mvv p{
    font-size: 30px;
}
.title-mvv p strong{
    color: #6B9859;
}
/*CONTATO*/
.contato{
    background-color: #e9e9e9;
    padding: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.contato h3{
    font-size: 40px;
    font-weight: 400;
}
#faleconosco{
    padding: 10px 20px;
    border-radius: 14px;
    cursor: pointer;
    font-size: medium;
    border: none;
}
#faleconosco a {
    text-decoration: none;
    color: #000;
}
/*FOOTER*/
footer{
    padding: 3%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #FFF;
    background-color: #0097B2;
    margin-top: 0;
}
.instabtn{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}
#insta{
    width: 30px;
}